body {
  /* height: 100vh; */
  margin: 0;
  font-family: BrandonText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  color: #2d333f;
  line-height: 1.15;
}

html, #root {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

body {
  min-height: 100%;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

a {
  text-decoration: none;
  color: inherit;
}
