.FormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 0px 10px 10px 10px;
}

.SignupHeader, .LoginHeader {
    font-size: 20px;
    margin-left: 20px;
    margin: 10px;
    padding: 5px 5px 10px 5px;
    border-bottom: solid 1px grey;
}

.LoginEmailLabel {
    margin: 22px;
}

.LoginPasswordLabel {
    margin: 10px;
}

.SignupFirstLabel, .SignupUsernameLabel {
    margin: 25px;
}

.SignupLastLabel {
    margin: 26px;
}

.SignupEmailLabel {
    margin: 46px;
}

.SignupPasswordLabel {
    margin: 32px;
}

.SignupConfirmLabel {
    margin: 2px;
}

.LoginEmailInput, .LoginPasswordInput, .SignupFirstInput, .SignupLastInput, .SignupUsernameInput, .SignupEmailInput, .SignupPasswordInput, .SignupConfirmInput {
    margin: 10px;
    border-radius: 5px;
    border: solid 1px black;
}

.LoginFormButtons {
    justify-content: space-between;
    margin-left: 12px;
}

.SignupFormButtons {
    margin-left: 40px;
    left: 50px;
}

.GuestButton, .LoginButton, .SignupButton, .CancelButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 3px 7px;
    color: white;
    background-color: crimson;
    text-decoration: none;
    border: solid 1px rgb(167, 8, 40);
    border-radius: 5px;
}

.GuestButton {
    margin-bottom: 20px;
}

.GuestButton:hover, .LoginButton:hover, .SignupButton:hover, .CancelButton:hover {
    background-color: rgb(141, 13, 39);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
}
