.search {
  display: flex;
}

.icon-div {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  border-radius: 5px;
  border: none;
}

.icon-div:hover {
  cursor: pointer;
}

#splash-search {
  height: 2rem;
  width: 25rem;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.submitbtn {
  background: None;
}
