.editReviewForm {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

#modal-content {
  border-radius: 5px;
}

.ratingDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.comment-box {
  height: 5rem;
}

