.profileContainer {
    display: flex;
    flex-direction: row;
    width: 95vw;
}

.reservation-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2%;
}

.profileHeader {
    text-align: center;
    padding: 20px;
    margin: -2px;
    background-color: rgb(45, 105, 236);
}

.profileReservations {
    margin: 10px;
    margin-top: 25px;
    padding: 10px;
    height: 30px;
}

.profileInfoText, .profileFavorites {
    margin: 10px 10px;
}

.my-info {
    font-weight: 600;
}

#side-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1%;
}

.profileEditButton {
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgb(167, 191, 243);
    border-radius: 5px;
}

.profileEditButton:hover {
    background-color: rgb(186, 203, 240);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.profileSidebarContainer {
    min-width: 200px;
    width: 20%;
    border-radius: 5px;
    margin: 25px;
    padding: 10px 10px 20px 10px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.profileAboutContainer {
    margin: 10px;
    border-bottom: solid 1px black;
    text-align: center;
}

.profileFavorites {
    text-decoration: none;
    padding: 3px 3px 3px 0px;
    color: black;
}

.profileFavorites:hover {
    color: crimson;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.single-link {
    padding: 2%;
    text-align: center;
    white-space: nowrap;
}

.edit {
    white-space: nowrap;
}

.edit:hover, .single-link:hover {
    color: crimson
}

.addbutton {
    color: white;
    background-color: crimson;
    border: none;
    white-space: nowrap;
    padding: 5%;
    border-radius: 5px;
    font-size: 80%;
}

.reservation-view {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 2%;
  border: 1px black solid;
  margin: 1%;
  width: fit-content;
}
