.NavBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px black;
  height: 3.7rem;
  width: 100vw;
}

.MenuButton {
  width: 28px;
  height: 26px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.SearchMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2%;
}

.NavProfileDropdown {
  margin: 20px;
}

.CancelMenu {
  border: none;
  background-color: rbga(0, 0, 0, 0);
  padding: 5px;
  border-bottom: solid 1px black;
}

.CancelMenu:hover {
  background-color: rbga(0, 0, 0, 0.5);
}

.profile-dropdown {
  z-index: 1;
  display: flex;
  color: rgb(0, 0, 0);
  background-color: white;
  flex-direction: column;
  position: absolute;
  padding: 10px 0;
  right: 20px;
  top: 60px;
  list-style: none;
  border-radius: 5px;
  font-size: 1rem;

}

.WelcomeUser {
  margin-bottom: 10px;
  padding: 10px;
}

.NavHeader {
  padding: 10px;
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.NavHeader:hover {
  font-weight: 600;
}

.NavButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NavHome,
.NavLogin,
.NavSignin {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 35px;
  color: black;
  text-decoration: none;
}


#NavLogout {
  color: rgba(220, 20, 60, 0.952);
}

.NavHome:hover,
.NavLogin:hover,
.NavSignin:hover,
.NavGuest:hover,
.NavLogout:hover {
  background-color: rgb(230, 230, 230);
}

.NavProfile {
  margin: 10px;
}

.NavFavorites {
  margin: 10px;
}

.profileButtons {
  display: flex;
  flex-direction: column;
}

.search {
  color: black;
}

.logo2 {
  font-family: 'Meow Script', cursive;
}
